body { font-family: Arial; margin:0; }
h1 { background: green; padding: 20px; font-size: 1.2em; color: white; margin: 0 0 20px 0; }
#content { padding: 0 20px; }

.required { color: red; font-size: .8em; clear: both; padding-top: 20px; }
.error { float: left; color: red; display: block; padding: 4px 0 0 10px; font-size:.8em; }
.alert { background: #feff96; border: 1px solid yellow; padding: 8px; margin-bottom: 20px; }

form { overflow: auto; }
label { float: left; clear: both; width: 160px; display: block; }
input, select { width: 220px; padding: 2px; margin-bottom: 4px; float: left; }
input.submit { float: left; clear: both; width: 80px; margin-top: 20px; }



#video {
 	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
/*	position: fixed; */
    }
 
  
    
  //This was a suggestion for full viewport video effect.
/*body, html {
            margin: 0px;
            padding: 0px;
            width: 100%;
        }

        #featured {
            width: 100wh;
            height: 100vh;
            position: relative;
        }


        video {
            width:100wh;
            height: 100Vh;
            display:inline-block;
            position: absolute;
            top:50%;
            left:50%;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
        
        */
